WebApp/flows.json
[
    {
        "id": "8a64b2be14e1014a",
        "type": "tab",
        "label": "BLEScanner",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ad4a6b70f7aa172",
        "type": "mqtt in",
        "z": "8a64b2be14e1014a",
        "name": "",
        "topic": "BLEScanner/device/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "28f7ceb9.8189a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "306d39b8cec81274",
                "87201e186ac5f1fc"
            ]
        ]
    },
    {
        "id": "87201e186ac5f1fc",
        "type": "debug",
        "z": "8a64b2be14e1014a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "306d39b8cec81274",
        "type": "function",
        "z": "8a64b2be14e1014a",
        "name": "scanParser",
        "func": "var g=msg.payload\nvar data=g.split(';');\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 740,
        "wires": [
            [
                "ceeded1a1f496b04"
            ]
        ]
    },
    {
        "id": "ec9722748402c62b",
        "type": "sqlite",
        "z": "8a64b2be14e1014a",
        "mydb": "16d7cc710fadc2b8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "a37e537d71411bb2"
            ]
        ]
    },
    {
        "id": "6e25bf92705e126e",
        "type": "inject",
        "z": "8a64b2be14e1014a",
        "name": "createTable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE scan(    ID INTEGER PRIMARY KEY     AUTOINCREMENT,   Timestamp DATETIME DEFAULT (STRFTIME('%Y-%m-%d %H:%M:%f', 'NOW')), MAC           TEXT    ,    Name            TEXT     ,    Address        TEXT,    RSSI\t\tText );",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "ec9722748402c62b"
            ]
        ]
    },
    {
        "id": "a37e537d71411bb2",
        "type": "debug",
        "z": "8a64b2be14e1014a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "d4cf7cb04eb8679a",
        "type": "inject",
        "z": "8a64b2be14e1014a",
        "name": "showAll",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from scan group by Address;",
        "payloadType": "date",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "ec9722748402c62b",
                "d445e9c19f877942"
            ]
        ]
    },
    {
        "id": "ceeded1a1f496b04",
        "type": "function",
        "z": "8a64b2be14e1014a",
        "name": "dbInsert",
        "func": "var g=msg.payload\nvar mac=g[0].split(',')\ng[0]=mac[1]+','+mac[2]+','+mac[3]\n\nvar vals=\"\";\nvar spl;\nfor (let i=0;i<5;i++){\n  g[i]=g[i].replace('\\r\\n','')\n  g[i]=g[i].replace('\\n','')\n  \n  g[i]=mac[0]+','+g[i];\n  spl=g[i].split(',');\n  g[i]='\\\"'+spl[0]+'\\\",\\\"'+spl[1]+'\\\",\\\"'+spl[2]+'\\\",\\\"'+spl[3]+'\\\"';\n  vals=vals+'('+g[i]+'),';\n  \n   \n}\nvals=vals.slice(0, -1);\n\n\nmsg.topic='INSERT OR REPLACE INTO scan(MAC,Name,Address,RSSI) VALUES '+vals;\n// for (let i = 0; i < g.length; i++) {\n// msg.topic='INSERT OR REPLACE INTO scan(MAC, Name, Address, RSSI) VALUES($MAC,$Name,$Address,$RSSI)'\n// msg.payload=g;\n// }\n//msg.payload=pHolders;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 740,
        "wires": [
            [
                "87201e186ac5f1fc",
                "ec9722748402c62b"
            ]
        ]
    },
    {
        "id": "ba9bf9b4245a7d74",
        "type": "inject",
        "z": "8a64b2be14e1014a",
        "name": "DropTable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE scan",
        "payloadType": "date",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "ec9722748402c62b"
            ]
        ]
    },
    {
        "id": "d445e9c19f877942",
        "type": "sqlite",
        "z": "8a64b2be14e1014a",
        "mydb": "16d7cc710fadc2b8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "0c1b59989df2bb0e"
            ]
        ]
    },
    {
        "id": "a1995042a008326c",
        "type": "ui_button",
        "z": "8a64b2be14e1014a",
        "name": "",
        "group": "4a6b34b6c3a279f7",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "select Timestamp, MAC,Name,Address,RSSI from scan group by Address ORDER BY Timestamp DESC;",
        "topicType": "str",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "d445e9c19f877942",
                "b5858cffbf92f0cb"
            ]
        ]
    },
    {
        "id": "0c1b59989df2bb0e",
        "type": "ui_table",
        "z": "8a64b2be14e1014a",
        "group": "4a6b34b6c3a279f7",
        "name": "",
        "order": 6,
        "width": 19,
        "height": 15,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "cbb22c8d618918fa",
        "type": "debug",
        "z": "8a64b2be14e1014a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "e44c12187cdc9340",
        "type": "inject",
        "z": "8a64b2be14e1014a",
        "name": "showMacs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select DISTINCT MAC from scan",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "ec9722748402c62b"
            ]
        ]
    },
    {
        "id": "ffb0939bf20ede56",
        "type": "ui_dropdown",
        "z": "8a64b2be14e1014a",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "4a6b34b6c3a279f7",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 860,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3097985b97c6c697",
        "type": "sqlite",
        "z": "8a64b2be14e1014a",
        "mydb": "16d7cc710fadc2b8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "a30d75a726541617",
                "cbb22c8d618918fa"
            ]
        ]
    },
    {
        "id": "b5858cffbf92f0cb",
        "type": "function",
        "z": "8a64b2be14e1014a",
        "name": "getMacs",
        "func": "msg.topic='select DISTINCT MAC from scan'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 440,
        "wires": [
            [
                "3097985b97c6c697"
            ]
        ]
    },
    {
        "id": "a30d75a726541617",
        "type": "function",
        "z": "8a64b2be14e1014a",
        "name": "parseMacs",
        "func": "var a=msg.payload[0]['MAC']\nvar macs=[]\nmacs.push(a)\nmsg.options=macs\nmsg.payload=a\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 440,
        "wires": [
            [
                "ffb0939bf20ede56",
                "cbb22c8d618918fa"
            ]
        ]
    },
    {
        "id": "c8e4702f61caac1e",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "e227946b1a986f27",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ab6707f6c632c7e",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "e623f96c1451e87b",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "c1a6d8203ed51887",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "048a61d2e9ab1994",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "3e2b28ce47ce26ca",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e01ed51e85315d0",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "83f34fd597634c98",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "556eac6b280e0c99",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "05c05ee025435277",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "53eb5a05b68674e6",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "a335647b8425e39e",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "e56b6f195395118d",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "172369ef40640305",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "02d1eaf8b3f892f1",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "7237b455fe86e567",
        "type": "ui_spacer",
        "z": "8a64b2be14e1014a",
        "name": "spacer",
        "group": "4a6b34b6c3a279f7",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "28f7ceb9.8189a2",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "23o4oj123kn41lk2tlk14g3234",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "16d7cc710fadc2b8",
        "type": "sqlitedb",
        "db": "database",
        "mode": "RWC"
    },
    {
        "id": "4a6b34b6c3a279f7",
        "type": "ui_group",
        "name": "BLE Scanner",
        "tab": "0d1595cae077f92b",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d1595cae077f92b",
        "type": "ui_tab",
        "name": "BluetoothScanner",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]