WebApp/flows.json
[
    {
        "id": "8a64b2be14e1014a",
        "type": "tab",
        "label": "BLEScanner",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ad4a6b70f7aa172",
        "type": "mqtt in",
        "z": "8a64b2be14e1014a",
        "name": "",
        "topic": "BLEScanner/device/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "28f7ceb9.8189a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "306d39b8cec81274",
                "87201e186ac5f1fc"
            ]
        ]
    },
    {
        "id": "87201e186ac5f1fc",
        "type": "debug",
        "z": "8a64b2be14e1014a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "306d39b8cec81274",
        "type": "function",
        "z": "8a64b2be14e1014a",
        "name": "scanParser",
        "func": "var g=msg.payload\nvar data=g.split(';');\nmsg.payload=data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 740,
        "wires": [
            [
                "ceeded1a1f496b04"
            ]
        ]
    },
    {
        "id": "ec9722748402c62b",
        "type": "sqlite",
        "z": "8a64b2be14e1014a",
        "mydb": "16d7cc710fadc2b8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "a37e537d71411bb2"
            ]
        ]
    },
    {
        "id": "6e25bf92705e126e",
        "type": "inject",
        "z": "8a64b2be14e1014a",
        "name": "createTable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE scan(    ID INTEGER PRIMARY KEY     AUTOINCREMENT,    MAC           TEXT    ,    Name            TEXT     ,    Address        TEXT,    RSSI\t\tText );",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "ec9722748402c62b"
            ]
        ]
    },
    {
        "id": "a37e537d71411bb2",
        "type": "debug",
        "z": "8a64b2be14e1014a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "d4cf7cb04eb8679a",
        "type": "inject",
        "z": "8a64b2be14e1014a",
        "name": "showAll",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM scan",
        "payloadType": "date",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "ec9722748402c62b"
            ]
        ]
    },
    {
        "id": "ceeded1a1f496b04",
        "type": "function",
        "z": "8a64b2be14e1014a",
        "name": "dbInsert",
        "func": "var g=msg.payload\nvar mac=g[0].split(',')\ng[0]=mac[1]+','+mac[2]+','+mac[3]\n\nvar vals=\"\";\nvar spl;\nfor (let i=0;i<5;i++){\n  g[i]=g[i].replace('\\r\\n','')\n  g[i]=g[i].replace('\\n','')\n  \n  g[i]=mac[0]+','+g[i];\n  spl=g[i].split(',');\n  g[i]='\\\"'+spl[0]+'\\\",\\\"'+spl[1]+'\\\",\\\"'+spl[2]+'\\\",\\\"'+spl[3]+'\\\"';\n  vals=vals+'('+g[i]+'),';\n  \n   \n}\nvals=vals.slice(0, -1);\n\n\nmsg.topic='INSERT OR REPLACE INTO scan(MAC,Name,Address,RSSI) VALUES '+vals;\n// for (let i = 0; i < g.length; i++) {\n// msg.topic='INSERT OR REPLACE INTO scan(MAC, Name, Address, RSSI) VALUES($MAC,$Name,$Address,$RSSI)'\n// msg.payload=g;\n// }\n//msg.payload=pHolders;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 740,
        "wires": [
            [
                "87201e186ac5f1fc",
                "ec9722748402c62b"
            ]
        ]
    },
    {
        "id": "ba9bf9b4245a7d74",
        "type": "inject",
        "z": "8a64b2be14e1014a",
        "name": "DropTable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE scan",
        "payloadType": "date",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "ec9722748402c62b"
            ]
        ]
    },
    {
        "id": "28f7ceb9.8189a2",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "23o4oj123kn41lk2tlk14g3234",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "16d7cc710fadc2b8",
        "type": "sqlitedb",
        "db": "database",
        "mode": "RWC"
    }
]